<%- include('partials/header'); -%>
<!-- <h1>Sign Up</h1> -->
<form>
    <h2>Sign up</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required/>
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
    <button>Sign Up</button>

</form>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit',async (e)=>{
        e.preventDefault();

        const email = form.email.value;
        const password = form.password.value;
        console.log(email,password);
        // sending the request to the server
        try{
           const res = await fetch('/signup',{
               method : 'POST',
               body : JSON.stringify({email,password}),
               headers :{'content-Type' : 'application/json'}
            })
            const data = await res.json();
            console.log(data);
            if(data.errors){
                console.log('error : unique email and password of length greater than 6 required');
            }
            if(data.new_user){
                location.assign('/login');
            }
        }catch(err){
            console.log(err);
        }
    })
</script>    

<%- include('partials/footer'); -%>

